/target*
grails-drools-gorm-ng-*.zip
*.log

#it seems to be 
plugin.xml

#idea files
*.iml
*.ipr
*.iws
*.idea

#eclipse files
.classpath
.project
.settings

#h2 files
mem*db

#releases
grails-drools-gorm*.zip

